<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML + CSS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/lobby.css">

</head>

<body>

    <header class="header widget">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="../index.html" class="navbar-brand">STARK TEAM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex">
                    <div class=" collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="./lobby.html" class="nav-link"><i class="fas fa-star"></i>
                                    HTML + CSS
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./logic.html" class="nav-link"><i class="fas fa-star"></i> LOGICA Y
                                    ALGORITMIA
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./js.html" class="nav-link"><i class="fas fa-star"></i>
                                    JS
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./Boostrap.html" class="nav-link"><i class="fas fa-star"></i>
                                    Boostrap
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./repositorios.html" class="nav-link"><i class="fas fa-star"></i>
                                    Repositorios
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./scrum.html" class="nav-link"><i class="fas fa-star"></i>
                                    Scrum
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./califications.html" class="nav-link"><i class="fas fa-star"></i>
                                    Certificaciones
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <section class="container-fluid title widget">
        <h1>Aprende Javascript</h1>
    </section>
    <section class="banner widget widget">
        <img src="../assets/img/js-banner.jpg" class="img-fluid" alt="banner - html -css">
    </section>
    <section class="container-fluid contenido widget">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-12">
                    <div class="d-flex align-items-start"> -->
                        <div class="col-sm-12 col-md-4 col-md-4 nav widget flex-column nav-pills" id="v-pills-tab" role="tablist"
                            " >
                            <button class="nav-link active widget" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">¿Qué es javascript?</button>
                            <button class="nav-link widget" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">Como agregar javascript
                                </button>
                            <button class="nav-link widget" id="v-pills-messages-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-messages" type="button" role="tab"
                                aria-controls="v-pills-messages" aria-selected="false">Declaraciones en js</button>
                            <button class="nav-link widget" id="v-pills-settings-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">Comentarios</button>
                            <button class="nav-link widget" id="v-pills-if-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-if" type="button" role="tab"
                                aria-controls="v-pills-if" aria-selected="false">Condicional if
                                </button>
                            <button class="nav-link widget" id="v-pills-switch-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-switch" type="button" role="tab"
                                aria-controls="v-pills-switch" aria-selected="false">Condicional switch </button>
                            <button class="nav-link widget" id="v-pills-for-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-for" type="button" role="tab"
                                aria-controls="v-pills-for" aria-selected="false">Bucle for</button>
                            <button class="nav-link widget" id="v-pills-while-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-while" type="button" role="tab"
                                aria-controls="v-pills-while" aria-selected="false">Bucle while</button>
                            <button class="nav-link widget" id="v-pills-doWhile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-doWhile" type="button" role="tab"
                                aria-controls="v-pills-doWhile" aria-selected="false">Bucle do while</button>
                            <button class="nav-link widget" id="v-pills-arrays-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-arrays" type="button" role="tab"
                                aria-controls="v-pills-arrays" aria-selected="false">Uso de arrays</button>
                            <button class="nav-link widget" id="v-pills-json-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-json" type="button" role="tab"
                                aria-controls="v-pills-json" aria-selected="false">Ojetos Json</button>
                            <button class="nav-link widget" id="v-pills-funciones-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-funciones" type="button" role="tab"
                                aria-controls="v-pills-funciones" aria-selected="false">Funciones</button>
                            <button class="nav-link widget" id="v-pills-dom-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-dom" type="button" role="tab"
                                aria-controls="v-pills-dom" aria-selected="false">DOM</button>
                        </div>
                        <div class="col-sm-12 col-md-8 col-md-4 tab-content widget" id="v-pills-tabContent">
                            <div class="tab-pane fade show active widget" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <h2 class="text-center"> ¿Que es javascript? </h2>
                                
                                
                                <p class="texto-contenido">
                                    JavaScript es el lenguaje de programación más popular del mundo.

                                    JavaScript es el lenguaje de programación de la Web.
                                    
                                    JavaScript es fácil de aprender.
                                    
                                    Este tutorial le enseñará JavaScript básico.<br>
                                    <br>
                                </p>
                                <div class="justify-content-center text-center">
                                    <img src="../assets/img/pagjsimg1.png" class="img-fluid" alt="html">
                                </div>
                                <h2 class="text-center"> ¿Por qué estudiar JavaScript?</h2>
                                <p class="texto-contenido">
                                    JavaScript es uno de los 3 lenguajes que todos los desarrolladores web deben aprender:
                                    <ul>
                                        <li>HTML para definir el contenido de las páginas web</li>
                                        <li>CSS para especificar el diseño de las páginas web</li>
                                        <li>JavaScript para programar el comportamiento de las páginas web</li>
                                    </ul>
                                     </p>
                            </div>
                            <div class="tab-pane fade " id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <h2 class="text-center"> Como agregar javascript en el documento html</h2>
                                
                                <p class="texto-contenido">
                                    Existen dos formas diferentes de agregar javascript
                                    <br>
                                    <br>
                                   <ul>
                                       <li>Desde un archivo diferente
                                           <p>
                                               Esta es la mejor opcion si queremos tener un codigo mas legible ,Sobre todo porque algunos scripts de JS deben utilizarse en varias páginas, por lo tanto, es mejor mantener el código JavaScript en archivos separados.Es por esto que la forma más aceptable de incluir JavaScript en HTML es importando archivos externos. Se puede hacer referencia a estos archivos desde adentro de los documentos HTML.al igual que hacemos referencia a los documentos CSS. Algunos de los beneficios de agregar código JS en archivos separados son:
                                                <ol>
                                                    <li> Cuando los códigos HTML y JavaScript están separados, se cumple el principio de diseño de separación y hace que todo sea mucho más sostenible y reutilizable.</li>
                                                    <li>La legibilidad y el mantenimiento del código es mucho más fácil.</li>
                                                    <li>Los archivos JavaScript en caché mejoran el rendimiento general del sitio web al disminuir el tiempo que tardan las páginas en cargarse.</li>
                                                </ol>
                 
                                           </p>
                                           <hr>
                                           <p>Para el ejemplo vemos agregamos en la linea 9 la etiqueta para hacer uso de un archivo llamado <strong>funciones.js </strong> que se encuentra dentro de una carpeta llamada  <strong>js</strong>  dentro de nuestro proyecto </p>
                                           <img src="../assets/img/pagjs/imag1.png" class="img-fluid" alt="">

                                       </li>

                                       <li>La otra forma es agregar javascript directamente al archivo html
                                           <p>
                                            forma de insertar JavaScript en HTML es directa. Puedes hacerlo utilizando la etiqueta &lt; script &gt; &lt;/script &gt; que debe envolver todo el código JS que escribas. Se puede agregar el código JS, tanto en las etiquetas &lt; head  &gt; o tambien al final del &lt; body &gt;
                                            se recomienda siempre que este al final del body para que la pagina cargue mas rapido y luego ejeucte el codigo javascript.
                                           </p>
                                           <img src="../assets/img/pagjs/imag2.png" class="img-fluid" alt="">
                                       </li>
                                      
                                   </ul>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                aria-labelledby="v-pills-messages-tab">
                                <h2 class="text-center"> Declaracion de variable </h2>
                                <p class="texto-contenido">
                                Las declaraciones de JavaScript a menudo comienzan con una palabra clave para identificar la acción de JavaScript que se debe realizar.            
                                </p>
                                <table class="table table-success table-striped">
                                    <caption>Lista de palabras claves</caption>
                                    <thead class="table-dark">
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Palabra clave</th>
                                        <th scope="col">descripción</th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody class="table-dark fw-normal">
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>var</td>
                                        <td>Declara una variable</td>
                                      
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>let</td>
                                        <td>Declara una variable de bloque</td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>const</td>
                                        <td>Declara una constante de bloque</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">4</th>
                                        <td>if</td>
                                        <td>Marca un bloque de declaraciones que se ejecutarán con una condición.</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">5</th>
                                        <td>switch</td>
                                        <td>Marca un bloque de sentencias que se ejecutarán en diferentes casos.</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">6</th>
                                        <td>for</td>
                                        <td>Marca un bloque de sentencias que se ejecutarán en un bucle.</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">7</th>
                                        <td>function</td>
                                        <td>Declara una función</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">8</th>
                                        <td>return</td>
                                        <td>Sale de una función</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">9</th>
                                        <td>try</td>
                                        <td>Implementa el manejo de errores en un bloque de declaraciones.</td>
                                       
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                aria-labelledby="v-pills-settings-tab">
                                <h2 class="text-center"> Comentarios </h2>
                                <p class="texto-contenido">
                                    Los comentarios de JavaScript se pueden utilizar para explicar el código JavaScript y hacerlo más legible.

                                    Los comentarios de JavaScript también se pueden utilizar para evitar la ejecución, al probar código alternativo
                                 </p>
                                 <h2 class="text-center"> Comentarios de una sola línea </h2>
                                 <p>
                                    Los comentarios de una sola línea comienzan con //.
                                    
                                    Cualquier texto entre //y el final de la línea será ignorado por JavaScript (no se ejecutará).
                                    
                                    Este ejemplo utiliza un comentario de una sola línea antes de cada línea de código:</p>
                                    <img src="../assets/img/pagjs/imag3.png" class="img-fluid" alt="">
                                    <h2 class="text-center">Comentarios de varias líneas</h2>
                                    <p>
                                        Los comentarios de varias líneas comienzan con /*y terminan con */.
                                        
                                        JavaScript ignorará cualquier texto entre /*y */.
                                        
                                        Este ejemplo utiliza un comentario de varias líneas (un bloque de comentarios) para explicar el código:</p>
                                        <img src="../assets/img/pagjs/imag4.png" class="img-fluid" alt="">
                            </div>
                            <div class="tab-pane fade" id="v-pills-if" role="tabpanel"
                                aria-labelledby="v-pills-if-tab">

                                <h2 class="text-center"> Condicional if </h2>
                                <p class="texto-contenido">
                                    Utilice la ifdeclaración para especificar un bloque de código JavaScript que se ejecutará si una condición es verdadera.
                                    
                                </p>
                                <img src="../assets/img/pagjs/imag5.png" class="img-fluid" alt="">
                                <p  class="texto-contenido">Utilice la else declaración para especificar un bloque de código que se ejecutará si la condición es falsa.

                                </p>
                                <img src="../assets/img/pagjs/imag6.png" class="img-fluid" alt="">
                                <p>Ejemplo
                                    Si el tiempo es inferior a las 10:00, cree un saludo de "Buenos días", si no es así, pero el tiempo es inferior a las 20:00, cree un saludo de "Buen día", de lo contrario un "Buenas noches":
                                    
                                </p>
                                <img src="../assets/img/pagjs/imag7.png" class="img-fluid" alt="">
                            </div>
                            <div class="tab-pane fade" id="v-pills-switch" role="tabpanel"
                                aria-labelledby="v-pills-switch-tab">
                                <h2 class="text-center"> Condicional switch </h2>
                                <p class="texto-contenido">
                                    Utilice la switch instrucción para seleccionar uno de los muchos bloques de código que se ejecutarán
                                    Así es como funciona:
                                    La expresión de cambio se evalúa una vez.
                                    El valor de la expresión se compara con los valores de cada caso.
                                    Si hay una coincidencia, se ejecuta el bloque de código asociado.
                                    Si no hay coincidencia, se ejecuta el bloque de código predeterminado.
                                    <hr>
                                    <h2 class="text-center"> Ejemplo </h2>
                                    <p>El getDay()método devuelve el día de la semana como un número entre 0 y 6.

                                        Si hoy no es sábado (6) ni domingo (0), escriba un mensaje predeterminado:</p>
                                    <img src="../assets/img/pagjs/imag8.png" class="img-fluid" alt="">
                                </p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-for" role="tabpanel"
                                aria-labelledby="v-pills-for-tab">
                                <h2 class="text-center"> Bucle for </h2>
                                <p>Los bucles pueden ejecutar un bloque de código varias veces <br>
                                    <h3> Bucles de JavaScript</h3>
                                   
                                    Los bucles son útiles si desea ejecutar el mismo código una y otra vez, cada vez con un valor diferente. <br>
                                    
                                    A menudo, este es el caso cuando se trabaja con matrices: <br>
                                    en lugar de escribir el siguiente codigo

                                </p>
                                <img src="../assets/img/pagjs/imag9.png" class="img-fluid" alt="">
                                <p> Escribimos un codigo mas resumido con el bucle for en el siguiente ejemplo</p>
                                <img src="../assets/img/pagjs/imag10.png" class="img-fluid" alt="">

                            </div>
                            <div class="tab-pane fade" id="v-pills-while" role="tabpanel"
                                aria-labelledby="v-pills-while-tab">
                                <h2 class="text-center"> Bucle while </h2>
                                <p>
                                    El while bucle recorre un bloque de código siempre que se cumpla una condición especificada.
                                    <br>
                                    Sintaxis.
                                </p>
                                <img src="../assets/img/pagjs/imag11.png" class="img-fluid" alt="">
                                <h3>Ejemplo</h3>
                                <p>En el siguiente ejemplo, el código del ciclo se ejecutará una y otra vez, siempre que una variable (i) sea menor que 10:

                                </p>
                                <img src="../assets/img/pagjs/imag12.png" class="img-fluid" alt="">
                            </div>
                            <div class="tab-pane fade" id="v-pills-doWhile" role="tabpanel"
                                aria-labelledby="v-pills-doWhile-tab">
                                <h2 class="text-center"> Bucle do while </h2>
                                <p>El do while bucle es una variante del bucle while. Este bucle ejecutará el bloque de código una vez, antes de verificar si la condición es verdadera, luego repetirá el bucle siempre que la condición sea verdadera.
                                    <br>
                                    Sintaxis
                                </p>
                                <img src="../assets/img/pagjs/imag13.png" class="img-fluid" alt="">
                                <h3>Ejemplo</h3>
                                <p>El siguiente ejemplo usa un do whilebucle. El ciclo siempre se ejecutará al menos una vez, incluso si la condición es falsa, porque el bloque de código se ejecuta antes de que se pruebe la condición:

                                </p>
                                <img src="../assets/img/pagjs/imag14.png" class="img-fluid" alt="">
                            </div>
                            <div class="tab-pane fade" id="v-pills-arrays" role="tabpanel"
                                aria-labelledby="v-pills-arrays-tab">
                                <h2 class="text-center"> Arrays </h2>
                                <p>
                                    Las matrices de JavaScript se utilizan para almacenar varios valores en una sola variable. <br>
                                    <h3>que es una matriz</h3>
                                    Una matriz es una variable especial que puede contener más de un valor a la vez.
                                <br>
                                    ejemplo
                                </p>
                                <img src="../assets/img/pagjs/imag15.png" class="img-fluid" alt="">
                                <p>
                                    Si tiene una lista de elementos (una lista de nombres de automóviles, por ejemplo), almacenar los automóviles en variables individuales podría verse así:
                                </p>
                                <img src="../assets/img/pagjs/imag16.png" class="img-fluid" alt="">
                                <p>Sin embargo, ¿qué pasa si desea recorrer los autos y encontrar uno    <br> específico? ¿Y si no tuvieras 3 coches, sino 300? <br>
 
                                    ¡La solución es una matriz! <br>
                                    
                                    Una matriz puede contener muchos valores con un solo nombre y puede <br>
                                    acceder a los valores haciendo referencia a un número de índice.
                                </p>
                                <p>También puede crear una matriz y luego proporcionar los elementos:</p>
                                <img src="../assets/img/pagjs/image17.png" class="img-fluid" alt="">
                                <p>Tambien se puede usar la palabra reservada new</p>
                                <img src="../assets/img/pagjs/imag18.png" class="img-fluid" alt="">

                                <p>La forma más segura de recorrer una matriz es usar un forbucle:</p>
                                <img src="../assets/img/pagjs/imag19.png" class="img-fluid" alt="">
                            </div>
                            <div class="tab-pane fade" id="v-pills-json" role="tabpanel"
                                aria-labelledby="v-pills-json-tab">
                                <h2 class="text-center"> Json </h2>
                                <p>que es un Json
                                    <ul>
                                        <li>JSON son las siglas de J ava S cript O bject N otation</li>
                                        <li>JSON es un formato de intercambio de datos ligero</li>
                                        <li>JSON es texto sin formato escrito en notación de objetos JavaScript</li>
                                        <li>JSON se usa para enviar datos entre computadoras</li>
                                        <li>JSON es independiente del idioma * </li>
                                       
                                    </ul>
                                   
                                    Este ejemplo es una cadena JSON:
                                </p>
                                <img src="../assets/img/pagjs/imag20.png" class="img-fluid" alt="">
                                <h2 class="text-center">Por que utilizar Json </h2>
                                <p>
                                    El formato JSON es sintácticamente similar al código para crear objetos JavaScript. Debido a esto, un programa JavaScript puede convertir fácilmente datos JSON en objetos JavaScript.

                                        Dado que el formato es solo de texto, los datos JSON se pueden enviar fácilmente entre computadoras y ser utilizados por cualquier lenguaje de programación. <br>

                                        JavaScript tiene una función incorporada para convertir cadenas JSON en objetos JavaScript: <br>

                                        JSON.parse() <br>

                                        JavaScript también tiene una función incorporada para convertir un objeto en una cadena JSON: <br>

                                        JSON.stringify() <br>

                                        Puede recibir texto puro de un servidor y utilizarlo como un objeto JavaScript. <br>

                                        Puede enviar un objeto JavaScript a un servidor en formato de texto puro. <br>

                                        Puede trabajar con datos como objetos JavaScript, sin complicados análisis ni traducciones. <br>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-funciones" role="tabpanel"
                                aria-labelledby="v-pills-funciones-tab">
                                <h2 class="text-center"> Funciones </h2>
                                <p>
                                    Las funciones de JavaScript se definen con la functionpalabra clave.
                                    Puede utilizar una declaración de función o una expresión de función .
                                </p>
                                <h3>Declaracion de funciones</h3>
                                <p>Anteriormente en este tutorial, aprendió que las funciones se declaran con la siguiente sintaxis:</p>
                                <img src="../assets/img/pagjs/imag21.png" class="img-fluid" alt="">
                                <p>Las funciones declaradas no se ejecutan inmediatamente. Se "guardan para su uso posterior" y se ejecutarán más tarde, cuando se invoquen (invoquen).</p>
                                <img src="../assets/img/pagjs/imag22.png" class="img-fluid" alt="">

                                <p>También se puede definir una función de JavaScript mediante una expresión . <br>
                                    Una expresión de función se puede almacenar en una variable:</p>
                                    <img src="../assets/img/pagjs/imag23.png" class="img-fluid" alt="">
                                <p>Después de que una expresión de función se haya almacenado en una variable, la variable se puede usar como función:</p>
                                <img src="../assets/img/pagjs/imag24.png" class="img-fluid" alt="">
                                <p>La función anterior es en realidad una función anónima (una función sin nombre).
                                    <br>
                                    Las funciones almacenadas en variables no necesitan nombres de función. Siempre se invocan (llaman) <br> utilizando el nombre de la variable.</p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-dom" role="tabpanel"
                                aria-labelledby="v-pills-dom-tab">
                                <h2 class="text-center"> DOM (Document Object Model)</h2>
                                <img src="../assets/img/pagjs/imag25.png" class="img-fluid" alt="">
                                <p>
                                    Con el modelo de objetos, JavaScript obtiene todo el poder que necesita para crear HTML dinámico:
                                <ul>
                                    <li>JavaScript puede cambiar todos los elementos HTML de la página.</li>
                                    <li>JavaScript puede cambiar todos los atributos HTML de la página.</li>
                                    <li>JavaScript puede cambiar todos los estilos CSS de la página.</li>
                                    <li>JavaScript puede eliminar elementos y atributos HTML existentes</li>
                                    <li>JavaScript puede agregar nuevos elementos y atributos HTML</li>
                                    <li>JavaScript puede reaccionar a todos los eventos HTML existentes en la página.</li>
                                    <li>JavaScript puede crear nuevos eventos HTML en la página.</li>
                                </ul>
                                </p>
                                <hr>
                                <h2>Que es el DOM</h2>
                                HTML DOM es un modelo de objetos estándar y una interfaz de programación para HTML. Se define:
                                <ul>
                                    <li>Los elementos HTML como objetos</li>
                                    <li>Las propiedades de todos los elementos HTML</li>
                                    <li>Los métodos para acceder a todos los elementos HTML</li>
                                    <li>Los eventos para todos los elementos HTML</li>
                                    <li>En otras palabras: HTML DOM es un estándar sobre cómo obtener, cambiar, agregar o eliminar elementos HTML.</li>
                                </ul>

                            </div>
                        </div>
                    <!-- </div>
                </div> -->
            </div>
        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/lobby.js"></script>
</body>

</html>