<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lógica y Algorítmica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/logic.css">
</head>

<body>
    <header class="header widget">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="../index.html" class="navbar-brand">STARK TEAM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex">
                    <div class=" collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="./lobby.html" class="nav-link"><i class="fas fa-star"></i>
                                    HTML + CSS
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./logic.html" class="nav-link"><i class="fas fa-star"></i> LOGICA Y
                                    ALGORITMIA
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./js.html" class="nav-link"><i class="fas fa-star"></i>
                                    JS
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fas fa-star"></i>
                                    Boostrap
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fas fa-star"></i>
                                    Repositorios
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./scrum.html" class="nav-link"><i class="fas fa-star"></i>
                                    Scrum
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./califications.html" class="nav-link"><i class="fas fa-star"></i>
                                    Certificaciones
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <section class="container-fluid title widget text-center mt-2 mb-2">
        <h1>Lógica y Algoritmia</h1>
    </section>

    <section class="banner widget widget">
        <img src="../assets/img/banner-logica.jpg" class="img-fluid" alt="banner - logica">
    </section>

    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <p>
                Mi puntuación actual es
                <span id="total"></span>
            </p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testModal">
                Hacer examen
            </button>
        </div>

        <div class="accordion mt-5 mb-5 text-dark">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ¿Qué es exactamente la lógica de programación?
                    </button>
                </h2>
              
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            La lógica de la programación es la organización coherente de las instrucciones del programa para que su objetivo sea alcanzado.
                        </p>

                        <h5>Desafío del programador </h5>

                        <p> El gran desafío del programador es entonces montar la estructura del programa para que este sea ejecutado por la computadora. </p>

                        <h5> ¿Qué es un algoritmo en lógica de programación? </h5>

                        <p>
                            Tomemos un ejemplo simple de cómo hacemos para ir a estudiar
                        </p>

                        <p class="text-center">
                            <img src="../assets/img/flowchart-1.png" alt="ir-a-estudiar">
                        </p>

                        <p>Con lo anterior <b>Cualquier persona</b> puede ir al colegio. Aún así es importante tener una secuencia correcta y una validación temprana de posibles eventos que se puedan presentar a lo largo del recorrido de un algoritmo </p>

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Variables y constantes
                    </button>
                </h2>

                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-center">
                            <img src="../assets/img/variables-constantes.png" alt="variables-constantes" width="500px" />
                        </p>

                        <p>
                            Son valores que componen cálculos o condiciones y están presentes en todas las partes del programa. En cambio la constante posee un dato definido al inicio del programa y no podrá ser alterado. Utilizando el ejemplo de la papa frita, podemos decir que el aceite es una variable, ya que puede estar caliente o frío. Creamos este ejemplo para mostrar la importancia de escribir la secuencia correcta de las acciones, y para entrenar el razonamiento.
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Funcionamiento de un programa
                    </button>
                </h2>
                
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> Para crear un programa, y que la computadora lo interprete y ejecute, las instrucciones deben escribirse en un lenguaje de programación. En sus comienzos las computadoras interpretaban solo instrucciones en un lenguaje específico, del más bajo nivel, conocido como código máquina, siendo éste excesivamente complicado para programar. En realidad escribir en lenguaje ensamblador es básicamente lo mismo que hacerlo en lenguaje máquina, pero las letras y palabras son bastante más fáciles de recordar y entender que secuencias de números binarios. Entonces, se crearon los lenguajes de alto nivel. </p>

                        <p class="text-center">
                            <img src="../assets/img/funcionamiento-programa.gif" alt="funcionamiento-programa" />
                        </p>

                        <p> Mientras que una tarea tan trivial como multiplicar dos números puede necesitar un conjunto de instrucciones en lenguaje ensamblador, en un lenguaje de alto nivel bastará con solo una. Una vez que se termina de escribir un programa, sea en ensamblador o en algunos casos, lenguajes de alto nivel, es necesario compilarlo, es decir, traducirlo completo a lenguaje máquina. Esta modalidad de trabajo es equivalente pero se realiza instrucción por instrucción, se traduce a medida que es ejecutado el programa. </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ¿Qué es un compilador?
                    </button>
                </h2>
                
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> En informática, un compilador es un tipo de traductor que transforma un programa entero de un lenguaje de programación a otro. Usualmente el lenguaje objetivo es código máquina, aunque también puede ser traducido a un código intermedio o a texto. La construcción de un compilador involucra la división del proceso en una serie de fases que variará con su complejidad. Incluye las fases correspondientes al análisis léxico, análisis sintáctico y análisis semántico. </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Lenguaje de programación
                    </button>
                </h2>
                
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-center">
                            <img src="../assets/img/lenguage-programacion.jpg" alt="lenguage-programacion"/>
                        </p>

                        <p> Para que la computadora entienda nuestras instrucciones debe usarse un lenguaje específico conocido como <b>código máquina</b>, que la máquina lee fácilmente, pero que es excesivamente complicado para las personas. El lenguaje ensamblador sigue la misma estructura del lenguaje máquina, pero las letras y palabras son más fáciles de recordar y entender que los números. Posteriormente aparecieron diferentes lenguajes de programación, los cuales reciben su denominación porque tienen una estructura sintáctica semejante a la de los lenguajes escritos por los humanos, denominados también <b>lenguajes de alto nivel</b>. Anabella inició en las matemáticas a Ada quien, después de conocer a Charles Babbage, tradujo y amplió una descripción de su máquina analítica. </p>

                        <p> El nombre del <b>lenguaje de programación Ada</b> fue escogido como homenaje a esta programadora. A finales de 1953, John Backus sometió una propuesta a sus superiores en IBM para desarrollar una alternativa más práctica al lenguaje ensamblador, para programar la computadora central IBM 704. El primer manual para el lenguaje Fortran apareció en octubre de 1956, con el primer compilador Fortran entregado en abril de 1957. Esto era un compilador optimizado, porque los clientes eran reacios a usar un lenguaje de alto nivel a menos que su compilador pudiera generar código cuyo desempeño fuera comparable al de un código hecho a mano en lenguaje ensamblador. </p>

                        <p> <b>En 1960 se creó COBOL</b>, uno de los lenguajes usados aún en la actualidad, en informática de gestión. Entonces, se crearon los lenguajes de alto nivel, como lo fue BASIC en las versiones introducidas en los microordenadores de la década de 1980. Mientras que una tarea tan sencilla como sumar dos números puede necesitar varias instrucciones en lenguaje ensamblador, en un lenguaje de alto nivel bastará una sola sentencia. </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Ejemplo sencillo
                    </button>
                </h2>
                
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h6>Tres en linea</h6>

                        <p> El juego de tres en linea tiene reglas que definen de manera sencilla un aganador, siguiendo unas reglas definidas previamente. </p>

                        <p> <b>Reglas del juego:</b> Cada Jugador elige las <b>X</b> o las <b>0</b>, y en su turno debe poner una, intentando conseguir tres seguidas en linea vertical, horixontal o diagonal. Una vez se llenan todos los espacios se termina la partida, fuinalizando en tablas si ninguno consigue enlazar tres de sus fichas seguidas. </p>
                        
                        <div id="tic-tac-toe">
                                <div class="span3 new_span">
                                    <div class="row">
                                        <h6 class="span3">Tres en linea</h6>
                                    </div>
                            
                                    <ul class="inline text-center" id="game" >
                                        <li id="one" class="btn span1" >+</li>
                                        <li id="two" class="btn span1">+</li>
                                        <li id="three" class="btn span1">+</li>
                                        <br/>
                                        <li id="four" class="btn span1">+</li>
                                        <li id="five" class="btn span1">+</li>
                                        <li id="six" class="btn span1">+</li>
                                        <br/>
                                        <li id="seven" class="btn span1">+</li>
                                        <li id="eight" class="btn span1">+</li>
                                        <li id="nine" class="btn span1">+</li>
                                    </ul>
                                    
                                    <div class="clr">&nbsp;</div>
                                    
                                    <div class="row">
                                        <button id="reset" class="btn-success btn span3" >de nuevo</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Examen
                    </button>
                </h2>
                
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testModal">
                            Hacer examen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal  evaluaciones -->
    <div class="modal fade" id="testModal" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="testModalLabel">Examen de Lógica y programación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body">
                    <div id="carouselExampleInterval" class="carousel slide carousel-dark" data-bs-ride="carousel">
                        <div class="carousel-inner" id="carousel-inner">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" class="btn btn-secondary" id="prev-button" disabled>
                            <span>Anterior</span>
                        </button>

                        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" class="btn btn-secondary" id="next-button">
                            <span>Siguiene</span>
                        </button>
                    </div>

                </div>

        
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="evaluate">Evaluar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal puntuacion -->
    <div class="modal fade" id="scoreModal" tabindex="-1" aria-labelledby="scoreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="scoreModalLabel">Tu puntuación es</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body">
                    <h3 id="score-modal" class="text-dark"></h3>
                </div>

        
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="do-test">Hacer examen de Nuevo</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal ganador -->
    <div class="modal fade" id="goodModal" tabindex="-1" aria-labelledby="goodModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="goodModalLabel">Aprobado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body">
                    <h3 class="text-dark">100</h3>
                </div>

        
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/califications.js"></script>
    <script src="../assets/js/logic.js"></script>
</body>

</html>
