<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    
  <link href="../assets/css/estilosScrum.css" rel="stylesheet">
  <title>Document</title>
</head>

<body class="pagina">
  
  <header class="header widget">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a href="../index.html" class="navbar-brand">STARK TEAM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class=" collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="./lobby.html" class="nav-link"><i class="fas fa-star"></i>
                                HTML + CSS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./logic.html" class="nav-link"><i class="fas fa-star"></i> LOGICA Y
                                ALGORITMIA
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./js.html" class="nav-link"><i class="fas fa-star"></i>
                                JS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-star"></i>
                                Boostrap
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-star"></i>
                                Repositorios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./scrum.html" class="nav-link"><i class="fas fa-star"></i>
                                Scrum
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>
<section class="container-fluid title widget">
    <h1>Aprende la Metodologia Scrum</h1>
</section>

  <div class="w3-hide-small w3-card-2 grey-color w3-round" style="padding:16px;">
  
    <img class="featurette-image img-fluid mx-auto" src="../assets/img/scrumIma.png"
    alt="Generic placeholder image">    
    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Que es Scrum?</h2>
          <p class="lead">Scrum es una metodología de trabajo iterativa e incremental para la gestión de proyectos,
            desplegado principalmente en el desarrollo ágil de software. La metodología scrum hace hincapié en el
            software funcional, la flexibilidad para cambiar junto con las realidades de negocio emergentes</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/ScrumQuees.png"
            alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Product Owner</h2>
          <p class="lead">Es la persona responsable de asegurar que el equipo aporte valor al negocio. Representa las
            partes interesadas internas y externas, por lo que debe comprender y apoyar las necesidades de todos los
            usuarios en el negocio, así como también las necesidades y el funcionamiento del Equipo Scrum
          <h4>Funciones</h4>
          <li>Recoger y conocer los requisitos.</li>
          <li>Decidir qué desarrollar y qué no.</li>
          <li>Definir buenas historias de usuario.</li>
          <li>Ordenar y priorizar el product backlog y hacer que éste sea visible para todo el mundo.</li>
          <li>Definir el producto mínimo viable (MVP)</li>
          <li>Maximizar el valro entregado</li>
          <li>Organizar los equipos de trabajo</li>
          <li>Acordar junto con el equipo una «definición de hecho».</li>
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/Product-Owner-e1594766609142.png"
            alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Scrum Master</h2>
          <p class="lead">Es básicamente un facilitador de proyectos, una persona que lidera equipos para conseguir una
            gestión ágil de los proyectos. El Scrum Master aplica las metodologías ágiles para conseguir los objetivos
            de la manera más óptima y eliminando todas las dificultades que nos encontremos por el camino durante el
            proyecto a desarrollar. Se encarga de hacer cumplir todo el ciclo SCRUM, que se cumplan las
            reuniones diarias y que cada persona esté haciendo lo asignado, con el fin de cumplir la metodología
          <h4>Funciones</h4>
          <li> Planificar la implantación de Scrum</li>
          <li>Ayudar a la organización a entender que interacciones con el equipo aportan valor y cuales no.</li>
          <li>Asistir al Product Owner a saber cómo organizar el product backlog y maximizar el valor.</li>
          <li>Comprender y practicar la agilidad.</li>
          <li>Ayudar al equipo a crear productos de valor.</li>
          <li>Eliminar cualquier impedimento del equipo.</li>
          <li>Facilitar los eventos Scrum.</li>
          <li>Trabajar con otros Scrum Masters para aumentar la efectividad de Scrum en la organización.</li>
          <li>Junto con el equipo Scrum, actualizar el burndown chart.</li>
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto"
            src="../assets/img/scrumMaster.webp" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Stakeholder</h2>
          <p class="lead">Es el público de interés para una empresa que permite su completo
            funcionamiento. Con público, me refiero a todas las personas u organizaciones que se relacionan
            con las actividades y decisiones de una empresa como: empleados, proveedores, clientes, gobierno, entre
            otros.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/stakeholder.png"
            alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Product Backlog</h2>
          <p class="lead">Consiste en una lista con todos los requerimientos iniciales del producto que se va a
            desarrollar. Se trata de una lista dinámica, que irá evolucionando a medida que lo hace el producto y el
            entorno del proyecto. La finalidad de crear esta lista no es otra que identificar las necesidades del
            producto para lograr su máxima utilidad.

            <br>Esta lista de Product Backlog contiene la descripción de las tareas y subtareas que se van a realizar
            para
            la ejecución de cada requisito. Tareas que se organizarán en función de sus prioridades. Indica una
            estimación del tiempo en la que cada tarea se va a desarrollar y el valor que cada una le da al producto.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/product-backlog-items.png"
            alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Sprint</h2>
          <p class="lead">Son los requerimientos del proyecto, normalmente, cada una de las historias de usuario se
            convierten en sprint a desarrollar.
            Nos van a permitir tener un ritmo de trabajo con un tiempo prefijado, siendo la duración habitual de un
            Sprint unas cuatro semanas, aunque lo que la metodología dice es que debería estar entre dos semanas y un
            máximo de dos meses.
            En cada Sprint o cada ciclo de trabajo lo que vamos a conseguir es lo que se denomina un entregable o
            incremento del producto, que aporte valor al cliente.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/sprint.jpg"
            alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Sprint Blacklog</h2>
          <p class="lead">El sprint backlog es básicamente una lista de tareas identificadas por el scrum team; ésta
            deberá ser completada durante cada sprint.
            El sprint backlog es representado a través de un tablero de tareas; hace visible todo el trabajo necesario
            para alcanzar el compromiso que se hizo con el product owner para el sprint. Permite ver las tareas donde el
            equipo está teniendo problemas y no avanza, para tomar decisiones al respecto.
            Para cada uno de los objetivos/requisitos del proyecto se muestran las tareas a cubrir; el esfuerzo
            pendiente para finalizarlas y la auto asignación que han hecho los miembros del equipo, también son
            visibles.
            La práctica habitual es gestionar el sprint backlog mediante un tablero con post its. Al lado de cada
            objetivo se colocan las tareas necesarias para completarlo y se van moviendo para cambiarlas de estado.
            Pendiente, en progreso, hechas.
            Para cada miembro del equipo se puede utilizar adhesivos de colores más pequeños sobre cada tarea, de manera
            que se pueda ver en qué tareas está trabajando cada cual.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/Sprint_backlog-1024x559.png"
            alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Sprint Planninig</h2>
          <p class="lead"> Es el primer evento de Scrum en dónde se planifican las tareas a realizar en el Sprint en
            curso. En esta reunión participan, de manera colaborativa, todo el equipo Scrum: Scrum Master, Product Owner
            y Equipo de Desarrollo.
            <br>
            El tiempo de esta reunión es de máximo 8 horas para Sprints de 4 semanas de duración. Para Sprints de menor
            duración, esta reunión debe proporcionalmente ser más corta.
            <br>
            En esta parte, el Equipo de desarrollo pronostica su capacidad de desarrollo en el Sprint. El Product Owner
            explica el objetivo de la iteración, y los ítems del Backlog que se deberían hacer para conseguir el
            objetivo final. Todo el equipo trabaja de manera colaborativa para comprender el trabajo a realizar
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/sprint-planning-scrum.png"
            alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Daily Scrum</h2>
          <p class="lead">En Scrum, durante el desarrollo de un sprint, el equipo mantiene una reunion diaria llamada el
            "daily scrum”.
            Usualmente estas reuniones se realizan en el mismo lugar y a la misma hora, en cada uno de los días.
            El daily scrum meeting se realiza en la mañana, a fin de definir el contexto para el resto del día de
            trabajo.
            Estas reuniones son estrictamente desarrolladas con un tiempo límite de 15 minutos. Esto hace que la reunión
            sea breve y se traten puntos importantes.
            Esta reunión diaria (daily scrum meeting) no se realiza con el fin de resolver problemas específicos.
            De existir problemas específicos, estos son tratados de forma externa al daily scrum meeting, con el
            subgrupo correspondiente, justo después de esta reunión.
            Durante el daily scrum, cada miembro del equipo responde las siguientes 3 preguntas:
            <br>1. ¿Qué hiciste ayer?
            <br>2. ¿Que harás hoy?
            <br>3. ¿Hay impedimentos en tu camino?<br>
            Al enfocarse en lo que cada miembro del equipo hizo ayer y hará hoy, el equipo gana una visión general de lo
            que se ha realizado y aquello que falta por realizar.
            El daily scrum meeting no es una reunión para actualizar estados, en donde el jefe recolecta información
            acerca de quiénes están atrasados en sus actividades.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/daily.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Sprint Review</h2>
          <p class="lead">para inspeccionar el incremento y adaptar el Product Backlog en caso de que sea necesario. Es
            una gran oportunidad para poder recibir feedback sobre el desarrollo del producto. Es una reunión informal,
            y el objetivo principal del Sprint Review es brindar transparencia tanto al equipo como al cliente
            Tiene una duración de 4 horas para Sprints de 4 semanas. Para Sprints más cortos, esta reunión tenderá a ser
            más corta. Este evento es organizado por el Product Owner, y es necesaria la presencia de todo el equipo de
            Scrum.
          <h4>Caracteristicas</h4>
          <li></li>El Product Owner se encarga de organizar e invitar al evento tanto al cliente como a todo el equipo
          Scrum.
          <li>El Product Owner explica qué items del Product Backlog han sido finalizados, y cuáles no.
          <li>El equipo de desarrollo se encarga de hacer la demostración del incremento terminado durante el Sprint.
          <li>El equipo de desarrollo, principalmente, responderá a cuestiones relacionadas con el incremento. La normal
            es que la mayoría de las preguntas sean técnicas.
          <li>El Product Owner comenta sobre el estado del Product Backlog.
          <li>Se realiza una review del proyecto, y sobre qué es lo siguiente que se hará. En base a esto, el Product
            Owner se encarga de reorganizar el Product Backlog en caso de que surgiera feedback por parte del cliente.
          <li>Se hace una review sobre tiempos, presupuesto y alcance del proyecto para futuros Sprints.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/Sprint-review.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Sprint Retrospective </h2>
          <p class="lead">
            Es el último evento en un Sprint en Scrum. Es una oportunidad para el equipo de inspeccionarse a sí mismo, y
            crear un plan de mejora que se pondrá en marcha inmediatamente, en el siguiente Sprint.

            Este evento se realiza después del Sprint Review, tiene un tiempo máximo de duración de 3 horas para Sprints
            de 1 mes, por supuesto para Sprints más pequeños su tiempo de duración será proporcionalmente menor.
            El objetivo de un sprint retrospective meeting es, básicamente, mejorar: mejorar la productividad, mejorar
            las habilidades del equipo, mejorar la calidad del producto. En resumen, el objetivo es mejorar la
            aplicación de Scrum.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/sprint-retrospective.png"
            alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">

          <h2 class="featurette-heading">Increment</h2>
          <p class="lead">Es la suma de todos los Incrementos anteriores y se verifica minuciosamente, lo que garantiza que todos los Incrementos funcionen juntos. Para proporcionar valor, el Incremento debe ser utilizable.
            Se pueden crear múltiples incrementos dentro de un Sprint. La suma de los Incrementos se presenta en la Sprint Review apoyando así el empirismo. Sin embargo, se puede entregar un Incremento a las partes interesadas antes del final del Sprint </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/increment.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Team Developer </h2>
          <p class="lead">
            Son todas las personas necesarias para hacer que un elemento del backlog del producto se transforme en un incremento del producto potencialmente entregable. De forma claramente asertiva, son ellos las que hacen que sucedan las cosas. Si no contamos con un buen Equipo de Desarrollo que construya el producto,
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="../assets/img/team.png"
            alt="Generic placeholder image">
        </div>
      </div>


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
      <span class="ir-arriba icon-arrow-up2"></span>
      <p>&copy; STARK TEAM Company, Inc. &middot;</p>
    </footer>
    </main>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
</body>

</html>