/* .parallax {
  height: 500px;
  background-image: url("../img/banner-html.jpg");
  background-size: cover;
  background-attachment: fixed;
}
 */
.title {
    padding: 2em;
    text-align: center;
}
.contenido {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.texto-contenido {
    padding: 1em;
}