.theme-light-color {
    color: #e35183;
}
.theme-dark-color {
    color: #78002e;
}
.theme-primary-color {
    color: #ad1457;
}

.theme-light-bg {
    background-color: #e35183;
}
.theme-dark-bg {
    background-color: #78002e;
}
.theme-primary-bg {
    background-color: #ad1457;
}
