body {
  background: grey;
  color: grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
.grid {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(78,176,187,1) 48%, rgba(0,212,255,1) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  1fr;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
  }

.menu{
  grid-row: 2/7;
  grid-column-start: 1;
  background-color: #0091ea;
  text-align: center;
}
.menu button{
  width: 450px;
  height: 75px;
}

.aprendizaje {
  grid-row-start: 1;
  grid-column-start: 1;
  background-color: #0064b7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aprendizaje button{
  width: 300px;
  height: 50px;
}


.titulo {
  grid-row-start: 1;
  grid-column: 2/4;
  background-color: #0064b7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo h2{
  font-size: 2cm;
}

.certificados{
  grid-row-start: 1;
  grid-column: 4;
  background-color: #0064b7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificados button{
  width: 300px;
  height: 50px;
}

h1{
  color: rgb(0, 0, 0);
  background-color: rgb(49, 49, 49);
}

.cuerpo{
  grid-row: 2/7;
  grid-column: 2/5;
  background-color: #e1f5fe;
}